<div
  class="max-w-4xl grid grid-cols-1 sm:grid-cols-3 gap-4 my-14 px-4 lg:mx-0 justify-center items-center flex flex-col"
>
  <div class="justify-center items-center align-center">
    <div class="text-center">
      <img
        src="/static/img/tommy.jpg"
        class="rounded-full w-32 mb-4 mx-auto"
        alt="Profilbild"
      />
      <h5 class="text-xl font-medium leading-tight mb-2">Tommy Helgersson</h5>
      <p class="text-gray-500">Finsnickare</p>
    </div>
  </div>
  <div class="col-span-2 px-4">
    <blockquote class="text-base italic font-semibold text-gray-900">
      <svg
        aria-hidden="true"
        class="w-10 h-10 text-gray-400"
        viewBox="0 0 24 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
          fill="currentColor"
        />
      </svg>
      <p>
        "Jag har jobbat med finsnickeri sedan 2017 och det roligaste med mitt
        jobb är att jag får ta till så många olika tekniker för att ändamålet
        ska bli så bra som möjligt."
      </p>
    </blockquote>
  </div>
</div>
<div
  class="max-w-5xl grid grid-cols-1 sm:grid-cols-3 gap-8 my-8 lg:mx-0 justify-center items-center flex flex-col" id="socials"
>
  <div>
    <a href="https://www.youtube.com/@tommyshantverk8951" target="_blank">
      <div
        class="max-w-sm bg-white border border-2 border-orange-600 rounded-lg shadow-md"
      >
        <img class="rounded-t-lg" src="/static/img/ytt1.jpg" alt="" />

        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Youtube
          </h5>

          <p class="mb-3 font-normal text-gray-800">
            Här kan ni se filmer där jag skapar olika möbler.
          </p>
          <a
            href="https://www.youtube.com/@tommyshantverk8951"
            target="_blank"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            Klicka här
            <svg
              aria-hidden="true"
              class="w-4 h-4 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="https://www.instagram.com/tommyshantverk/" target="_blank">
      <div
        class="max-w-sm bg-white border border-2 border-orange-600 rounded-lg shadow-md"
      >
        <img class="rounded-t-lg" src="/static/img/igt1.jpg" alt="" />

        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Instagram
          </h5>

          <p class="mb-3 font-normal text-gray-700">
            Här kommer bilder/videoklipp upp på alla projekt.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            Klicka här
            <svg
              aria-hidden="true"
              class="w-4 h-4 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </a>
  </div>
  <div>
    <a href="https://www.facebook.com/Tommyshantverk" target="_blank">
      <div
        class="max-w-sm bg-white border border-2 border-orange-600 rounded-lg shadow-md"
      >
        <img class="rounded-t-lg" src="/static/img/fbt1.jpg" alt="" />

        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Facebook
          </h5>

          <p class="mb-3 font-normal text-gray-700">
            Här kan ni se blandat från Youtube/IG eller kontakta mig.
          </p>
          <a
            href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-600 rounded-lg hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300"
          >
            Klicka här
            <svg
              aria-hidden="true"
              class="w-4 h-4 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </a>
  </div>
</div>
<div
  class="max-w-5xl grid grid-cols-1 sm:grid-cols-2 gap-4 my-20 px-6 lg:mx-0 flex flex-col justfy-center items-center" id="om"
>
  <div class="mr-4">
    <h1
      class="mb-4 text-2xl font-bold text-gray-900 md:text-3xl lg:text-4xl text-left"
    >
      Koncept & design
    </h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl text-left">
      Baserat på dina idéer tar jag fram ett förslag på hur den färdiga
      produkten kommer att se ut och vilka tekniker jag kommer använda mig av
      för att den ska bli precis som önskat.
    </p>
  </div>
  <div><img src="/static/img/tommy4.jpg" alt="" /></div>
</div>
<div
  class="max-w-5xl grid grid-cols-1 sm:grid-cols-2 gap-4 my-20 px-6 lg:mx-0 flex flex-col justfy-center items-center"
>
  <div>
    <img src="/static/img/tommy2.jpg" alt="" />
  </div>
  <div class="ml-4">
    <h1
      class="mb-4 text-2xl font-bold text-gray-900 md:text-3xl lg:text-4xl text-left"
    >
      Färdigställande
    </h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl text-left">
      När vi har kommit fram till en design som du är helt nöjd med så kommer
      jag att påbörja projektet och ge dig en produkt jag är stolt över och som
      du kan njuta av i många år.
    </p>
  </div>
</div>
<div
  class="max-w-5xl grid grid-cols-1 sm:grid-cols-1 gap-4 my-20 lg:mx-0 flex flex-col justfy-center items-center"
>
<section class="mb-4 text-gray-800" id="kontakt">
    <div class="flex justify-center">
      <div class="text-center lg:max-w-3xl md:max-w-xl">
        <h2 class="text-3xl font-bold mb-14 px-6">Kontakta mig</h2>
      </div>
    </div>

    
      <div class="grow-0 mx-auto shrink-0 basis-auto w-full">
        <div class="flex flex-wrap">
          <div class="mb-12 grow-0 shrink-0 basis-auto w-full lg:w-6/12 px-3 lg:px-6">
            <div class="flex items-start">
              <div class="shrink-0">
                <div class="p-4 bg-orange-600 rounded-md shadow-md w-20 h-20 flex items-center justify-center text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 006 21.75a6.721 6.721 0 003.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 01-.814 1.686.75.75 0 00.44 1.223zM8.25 10.875a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25zM10.875 12a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0zm4.875-1.125a1.125 1.125 0 100 2.25 1.125 1.125 0 000-2.25z" clip-rule="evenodd" />
                      </svg>
                      
                </div>
              </div>
              <div class="grow ml-6">
                <p class="font-bold mb-1">Sociala medier</p>
                <p class="text-gray-500">Instagram eller Facebook</p>
                
              </div>
            </div>
          </div>
          <div class="mb-12 grow-0 shrink-0 basis-auto w-full lg:w-6/12 px-3 lg:px-6">
            <div class="flex items-start">
              <div class="shrink-0">
                <div class="p-4 bg-orange-600 rounded-md shadow-md w-20 h-20 flex items-center justify-center text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                        <path d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                      </svg>
                      
                </div>
              </div>
              <div class="grow ml-6">
                <p class="font-bold mb-1">E-post</p>
                <p class="text-gray-500">tommyshantverk@gmail.com</p>
                
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </section>
</div>
